@function em ($size, $context: 16) {
    @return ($size / $context)+em;
}

//-----------------------------------------------------------------------------------------------------
//                                      Variables
//-----------------------------------------------------------------------------------------------------
$font-size-base:100%;
$font-family-sans: Montserrat,
sans-serif;
$font-family-serif: 'Big Caslon',
Georgia,
serif;
$color-text:#fff;
$color-muted: #777;
$color-bg-body: #2f313c;
$color-bg-gallery: #ffd256;
$color-bg-blog: #019DCD;
$color-bg-contact: #fd6858;
$color-bg-home: #8fd2d1;
$color-footer: #8c95ad;
$color-bg-selection: #fcbd24;
$width-sm: em(400);
$width-md: em(640);
$width-lg:em(1024);
//                   true/false
$enable-rounded:true;
$debug:true;
//-----------------------------------------------------------------------------------------------------
//                                      Mixins
//-----------------------------------------------------------------------------------------------------
@mixin image {
    img {
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
}

@mixin box-sizing ($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin container ($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin clearfix {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

@mixin button {
    font: {
        size: em(17);
        family: $font-family-sans;
    }
    color: $color-text;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin: em(34) 0;
    padding: em(20) em(24);
    border-radius: em(6);
    .btn-default {
        @include button;
        background-color: rgba(84, 87, 102, 1);
        &:hover,
        &focus {
            background-color: rgba(84, 87, 102, .85);
        }
    }
}

@mixin rounded($radius:8) {
    @if ( $enable-rounded) {
        border-radius: $radius;
    }
}

@mixin selection {
     ::-moz-selection {
        @content
    }
    ;
     ::selection {
        @content
    }
    ;
}

//-----------------------------------------------------------------------------------------------------
//                                      General
//-----------------------------------------------------------------------------------------------------
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    @include rounded
}

body {
    color: $color-text;
    background: $color-bg-body;
    text-align: center;
    margin: 0;
    font: {
        size: $font-size-base;
        weight: normal;
        family: $font-family-sans;
    }
}

.container {
    @include container(em(1024));
    padding: 0 em(16);
}

a {
    color: $color-text;
    text-decoration: none;
    transition: .5s all ease-in-out;
}

@include image;
.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    li,
    a {
        display: inline-block;
    }
}

.bigass {
    margin-top: 2.75em;
    @if (enable-rounded) {
        border-radius: em(12) em(12) 0 0;
    }
}

.home .content {
    padding-bottom: 0;
}

@include selection {
    background: $color-bg-selection;
    color: $color-text;
}

//-----------------------------------------------------------------------------------------------------
//                                    Typography
//-----------------------------------------------------------------------------------------------------
h1 {
    font: {
        size: em(75);
    }
    text-transform: uppercase;
    margin-bottom: em(22, 75);
}

h2 {
    font-size: em(24);
    line-height: em(32, 24);
    font-weight: normal;
}

h3 {
    font-size: em(22);
}

.small {
    font-size: percentage(12/16);
    line-height: percentage(18/12);
    margin: 0;
}

//-----------------------------------------------------------------------------------------------------
//                                    Site Header
//-----------------------------------------------------------------------------------------------------
.site-header {
    background: darken(#fff, 5%);
    a {
        color: $color-muted;
        font-size: em(13);
        padding: em(25)em(8);
        &:hover,
        &:focus {
            color: lighten( $color-muted, 15%);
        }
    }
}

//-----------------------------------------------------------------------------------------------------
//                                    colors
//-----------------------------------------------------------------------------------------------------
main {
    background: $color-bg-home;
    border-top: em(1) solid darken($color-bg-home, 15%);
    .blog & {
        background: $color-bg-blog;
        border-color: darken($color-bg-blog, 10%);
    }
    .contact & {
        background: $color-bg-contact;
        border-color: darken($color-bg-contact, 15%);
    }
    .gallery & {
        background: $color-bg-gallery;
        border-color: darken($color-bg-gallery, 20%);
    }
}

//-----------------------------------------------------------------------------------------------------
//                                   shadow
//-----------------------------------------------------------------------------------------------------
.shadow {
    text-shadow: em(-5) em(5) 0px darken($color-bg-home, 10%);
    .gallery & {
        text-shadow: em(-5) em(5) 0px darken($color-bg-gallery, 10%);
    }
    .blog & {
        text-shadow: em(-5) em(5) 0px darken($color-bg-blog, 10%);
    }
    .contact & {
        text-shadow: em(-5) em(5) 0px darken($color-bg-contact, 10%);
    }
}

//-----------------------------------------------------------------------------------------------------
//                           active navigation link color
//-----------------------------------------------------------------------------------------------------
.active a {
    color: darken($color-bg-home, 25%);
    .gallery & {
        color: darken($color-bg-gallery, 25%);
    }
    .blog & {
        color: darken($color-bg-blog, 25%);
    }
    .contact & {
        color: darken($color-bg-contact, 25%);
    }
}

.content {
    padding: {
        top: em(80);
        bottom: em(80);
    }
}

//-------------------------------------------------------------------------------------------------------------
//                                                  gallery
//-------------------------------------------------------------------------------------------------------------
.image-grid {
    margin-top: em(48);
    img {
        float: left;
        width: 49%;
        margin: .5%;
        @media (max-width: em(640)) {
            & {
                float: left;
                width: 100%;
                margin: 0.5em 0;
            }
        }
    }
    @include clearfix;
}

//-------------------------------------------------------------------------------------------------------------
//                                                  Footer
//-------------------------------------------------------------------------------------------------------------
.prefooter {
    background: lighten($color-bg-body, 3%);
    padding: em(68) 0 em(72);
    p {
        color: darken($color-text, 10%);
        font-size: em(18);
        line-height: em(18);
        margin: em(28, 18) 0 em(30, 18);
    }
}

.site-footer {
    padding: em(30) 0;
    color: $color-footer;
    a,
    span {
        color: transparentize($color-footer, .5);
    }
    a {
        border-bottom: em(1) solid darken($color-footer, 30%);
    }
    span {
        padding-left: em(1);
    }
}

@media (max-width: $width-md) {
    & {
        font-size: 85%;
        p br {
            display: none;
            padding: em(54) 0 em(64);
        }
    }
}

//-------------------------------------------------------------------------------------------------------------
//                                                 Blog
//-------------------------------------------------------------------------------------------------------------
.post-list {
    max-width: em(696);
    margin: em(86) auto 0;
    text-align: left;
    .post {
        margin: em(64) 0;
        line-height: em(27);
        p {
            color: transparentize($color-text, .1);
        }
        h1 {
            line-height: em(13.5);
            font-size: em(45);
            margin-bottom: em(45, 45);
        }
    }
}

.post-title {
    font-size: em(30);
    margin-bottom: em(34, 30);
    text-transform: none;
}

//-------------------------------------------------------------------------------------------------------------
//                                                Contact
//-------------------------------------------------------------------------------------------------------------
.contact-form {
    max-width: em(560);
    margin: em(72) auto 0;
    text-align: left;
    label {
        font-size: em(17);
        display: block;
        margin-bottom: em(22);
    }
}

input,
textarea {
    color: color-text;
    font: {
        size: em(14);
        family: $font-family-sans;
        weight: normal
    }
    border: 2px solid rgba(black, 0.1);
    background: rgba(white, 0.05);
    outline: none;
    padding: em(10);
    margin-top: em(6);
    display: block;
    max-width: 100%;
    width: 100%;
    &:focus {
        border-color: rgba(white, 0.5);
    }
}

@media (max-width: $width-md) {
    main {
        font-size: 85%;
        h2 br {
            display: none;
        }
    }
}